root = true

###############################
# Core EditorConfig Options   #
###############################
[*]
indent_style = space

[*.cs]
indent_size = 4
charset = utf-8
csharp_style_namespace_declarations = file_scoped:warning
end_of_line = crlf

[*.{csproj,props}]
indent_size = 2

# Verify settings
[*.{received,verified}.{csv,txt,xml}]
charset = utf-8-bom
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false


###############################
# .NET Analyzers Options      #
###############################
[*.cs]
# CA1806: Do not ignore method results
dotnet_diagnostic.CA1806.severity = warning

# CA1825: Avoid zero-length array allocations
dotnet_diagnostic.CA1825.severity = warning

# CA1851: Possible multiple enumerations of IEnumerable collection
dotnet_diagnostic.CA1851.severity = warning

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = warning

# CA2016: Forward the CancellationToken parameter to methods that take one
dotnet_diagnostic.CA2016.severity = warning

# CA2254: Log message template should be a static expression
dotnet_diagnostic.CA2254.severity = warning

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = warning

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = warning

[**/*Test/**.cs]
# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none


###############################
# Banned API analyzer Options #
###############################
[*.cs]
dotnet_diagnostic.RS0030.severity = warning

[XunitAutoGeneratedEntryPoint.cs]
dotnet_diagnostic.RS0030.severity = none


###############################
# IDisposableAnalyzers        #
###############################
[**/{*Test,*TestDataBuilder}/**.cs]
# IDISP004: Don't ignore created IDisposable
dotnet_diagnostic.IDISP004.severity = none

# IDISP012: Property should not return created disposable
dotnet_diagnostic.IDISP012.severity = none


###############################
# Meziantou Analyzers Options #
###############################
[*.cs]
# MA0004: Use Task.ConfigureAwait
dotnet_diagnostic.MA0004.severity = none

# MA0007: Add a comma after the last value
dotnet_diagnostic.MA0007.severity = none

# MA0008: Add StructLayoutAttribute
dotnet_diagnostic.MA0008.severity = none

# MA0011: IFormatProvider is missing
dotnet_diagnostic.MA0011.severity = none

# MA0015: Specify the parameter name in ArgumentException
dotnet_diagnostic.MA0015.severity = none

# MA0016: Prefer using collection abstraction instead of implementation
dotnet_diagnostic.MA0016.severity = none

# MA0026: Fix TODO comment
dotnet_diagnostic.MA0026.severity = none

# MA0048: File name must match type name
dotnet_diagnostic.MA0048.severity = none

[Program.cs]
# MA0051: Method is too long
dotnet_diagnostic.MA0051.severity = none

[**/Migrations/*.cs]
# MA0051: Method is too long
dotnet_diagnostic.MA0051.severity = none


###############################
# Roslynator Options          #
###############################
[*.cs]
# RCS1037: Remove trailing white-space
dotnet_diagnostic.RCS1037.severity = warning

# RCS1251: Remove unnecessary braces
dotnet_diagnostic.RCS1251.severity = warning


###############################
# SonarAnalyzer Options       #
###############################
[*.cs]
# S927: Parameter names should match base declaration
dotnet_diagnostic.S927.severity = none

# S1075: URIs should not be hardcoded
dotnet_diagnostic.S1075.severity = none

# S1135: Complete the task associated to this 'TODO' comment
dotnet_diagnostic.S1135.severity = none

# S1144: Unused private types or members should be removed
dotnet_diagnostic.S1144.severity = warning

# S4456: Parameter validation in yielding methods should be wrapped
dotnet_diagnostic.S4456.severity = none

# S4457: Parameter validation in async methods should be wrapped
dotnet_diagnostic.S4457.severity = none

# S6602: "Find" method should be used instead of the "FirstOrDefault" extension
dotnet_diagnostic.S6602.severity = none

# S6605: Collection-specific "Exists" method should be used instead of the "Any" extension
dotnet_diagnostic.S6605.severity = none

[*Data/**.cs]
# S2325: Methods and properties can be static
dotnet_diagnostic.S2325.severity = none

[*Extensions.cs]
# S2325: Methods and properties can be static
dotnet_diagnostic.S2325.severity = none

# S3928: Parameter names used into ArgumentException constructors should match an existing one
dotnet_diagnostic.S3928.severity = none

[Program.cs]
# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = none


###############################
# Threading.Analyzers Options #
###############################
[*.cs]
# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none

[*.cs]
# VSTHRD103: Use async equivalent - false positive for EF Core DbSet.Add/AddRange
dotnet_diagnostic.VSTHRD103.severity = suggestion

#### Naming styles ####

[*.{cs,vb}]
# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers =

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers =

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers =

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix =
dotnet_naming_style.begins_with_i.word_separator =
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix =
dotnet_naming_style.pascal_case.required_suffix =
dotnet_naming_style.pascal_case.word_separator =
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line